.home {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home__top {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.home__main {
  display: flex;
}
.home__results {
}
.home__details {
  display: none;
}
