.card {
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.card__image {
  margin-bottom: 5px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: top left;
}
.card__data {
  margin: 0;
  padding: 0 5px;
}
.card__checkbox {
  align-self: flex-enc;
  margin: 0px 15px;
  margin-left: auto;
}
