.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  margin: 0 0 20px;
  background-color: #fff;
  gap: 15px;
}
.card__info {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 15px;
}
.card__flag {
  width: 50%;
  height: auto;
  border-radius: 6px 6px 0 0;
  background-size: cover;
  background-position: center;
}
.card__highlight {
  border-color: red;
}
