.tile {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  gap: 5px;
}

.tile:hover {
  border: 1px solid #007bff;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.3);
}

.tile p {
  margin: 0;
  padding: 0;
}
